body{
    background-color: Lavender;
    color: black;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: Thistle;
    color: black;
    font-family: Georgia;
    margin: 3px;
}
footer{
    background-color: Thistle;
    color: black;
    font-family: Georgia;
    margin: 3px;
}
main{
    background-color: Lavender;
    color: black;
    font-family: Arial;
    margin: 0px;
}
a{
    color:green;
    text-decoration: none;
    transition: 1s 2s;
}
a:hover{
    color: rgb(149, 28, 28);
    text-decoration:underline;
    background-color: azure;
    transition: 0.3s;
}
a:active{
    color: black;
    opacity: 0.8;
}
a:link{
    color: rgb(30, 88, 117);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
a:visited{
    color: rgb(122, 21, 148);
    font-style:normal;
    font-family:monospace;
}